@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "EB Garamond", serif;
	column-width: 20em;
	column-gap: 0;
	column-fill: auto;
	padding: 8px 0;
	box-sizing: border-box;
}

body > div {
	padding: 0 8px;
	box-sizing: border-box;
}

p {
	text-align: justify;
	hyphens: auto;
	margin: 0;
	line-height: 110%;
}

div.center {
	margin: 1em 0;
}

div.center p {
	text-align: center;
}
